<!-- 

Starts a Prosilica camera in triggered (polled) mode. 

This launch file is used by pr2.launch and should not be modified.

-->
<launch>
  <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" output="screen" respawn="false">
    <param name="trigger_mode" type="str" value="Triggered"/>
    <param name="ip_address" type="str" value="10.68.0.20"/>
    
    <param name="exposure_auto" type="str" value="Auto"/>
    <param name="gain_auto" type="str" value="Auto"/>
    <param name="whitebal_auto" type="str" value="Auto"/>
    <param name="frame_id" type="string" value="high_def_optical_frame" />
  </node>
</launch>
