<launch>
  <!-- Spwns the controllers -->
  <node name="spawner-camera-synchronizer" pkg="pr2_controller_manager" type="spawner" output="screen" args="projector_trigger proj_controller head_camera_trigger forearm_camera_r_trigger forearm_camera_l_trigger" />
  <group ns="proj_controller">
    <param name="type" type="string" value="ProjectorController" />
    <param name="actuator" type="string" value="led_projector" />
    <param name="current" type="double" value="10" />
  </group>
  <group ns="projector_trigger">
    <param name="type" type="string" value="MultiTriggerController" />
    <param name="digital_output" type="string" value="led_projector_digital_out_M" />
    <param name="period" type="double" value="1" />
    <param name="times" type="string" value="0" />
    <param name="topics" type="string" value="-" />
    <param name="values" type="string" value="14" />
  </group>
  <group ns="head_camera_trigger">
    <param name="type" type="string" value="MultiTriggerController" />
    <param name="digital_output" type="string" value="led_projector" />
    <param name="period" type="double" value="0.08" />
    <param name="times" type="string" value="0" />
    <param name="topics" type="string" value="-" />
    <param name="values" type="string" value="0" />
  </group>
  <group ns="forearm_camera_r_trigger">
    <param name="type" type="string" value="MultiTriggerController" />
    <param name="digital_output" type="string" value="r_wrist_r_motor" />
    <param name="period" type="double" value="0.08" />
    <param name="times" type="string" value="0" />
    <param name="topics" type="string" value="-" />
    <param name="values" type="string" value="0" />
  </group>
  <group ns="forearm_camera_l_trigger">
    <param name="type" type="string" value="MultiTriggerController" />
    <param name="digital_output" type="string" value="l_wrist_l_motor" />
    <param name="period" type="double" value="0.08" />
    <param name="times" type="string" value="0" />
    <param name="topics" type="string" value="-" />
    <param name="values" type="string" value="0" />
  </group>
  <group ns="head_camera_trigger">
    <param name="type" type="string" value="MultiTriggerController" />
    <param name="digital_output" type="string" value="led_projector" />
    <param name="period" type="double" value="0.08" />
    <param name="times" type="string" value="0" />
    <param name="topics" type="string" value="-" />
    <param name="values" type="string" value="0" />
  </group>


  <!-- Spawns the wide cameras -->
  <node name="wide_stereo_l" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="ext_trig" type="bool" value="True" />
    <param name="camera_url" type="str" value="name://wide_stereo_l$(env IFACE)" />
    <remap from="camera" to="wide_stereo/left" />
    <remap from="camera_alternate" to="wide_stereo/left" />
  </node>

  <node name="wide_stereo_r" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="ext_trig" type="bool" value="True" />
    <param name="camera_url" type="str" value="name://wide_stereo_r$(env IFACE)"/>
    <remap from="camera" to="wide_stereo/right" />
    <remap from="camera_alternate" to="wide_stereo/right" />
  </node>
  
  <node name="wide_stereo" pkg="wge100_camera" type="wge100_multi_configurator2" respawn="true">
    <param name="camera_nodes" type="str" value="wide_stereo_l wide_stereo_r" />
    <param name="width" type="int" value="640" />  
    <param name="height" type="int" value="480" />  
    <param name="imager_rate" type="double" value="30" />
  
    <param name="frame_id" type="str" value="wide_stereo_optical_frame" />
    <param name="first_packet_offset" type="double" value="0.0025" />
    
    <param name="ext_trig" type="bool" value="True" />
    <param name="rotate_180" type="bool" value="True" />
  </node>
  
  <!-- Spawns the narrow cameras -->
  <node name="narrow_stereo_r" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="camera_url" type="str" value="name://narrow_stereo_r$(env IFACE)"/>
    <remap from="camera" to="narrow_stereo/right" />
    <remap from="camera_alternate" to="narrow_stereo_textured/right" />
    <param name="ext_trig" type="bool" value="True" />
  </node>

  <node name="narrow_stereo_l" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="camera_url" type="str" value="name://narrow_stereo_l$(env IFACE)"/>
    <remap from="camera" to="narrow_stereo/left" />
    <remap from="camera_alternate" to="narrow_stereo_textured/left" />
    <param name="ext_trig" type="bool" value="True" />
  </node>

  <node name="narrow_stereo" pkg="wge100_camera" type="wge100_multi_configurator2" respawn="true">
    <param name="camera_nodes" type="str" value="narrow_stereo_l narrow_stereo_r" />
    <param name="width" type="int" value="640" />  
    <param name="height" type="int" value="480" />  
    <param name="imager_rate" type="double" value="30" />

    <param name="frame_id" type="str" value="narrow_stereo_optical_frame" />
    <param name="first_packet_offset" type="double" value="0.0025" />

    <param name="ext_trig" type="bool" value="True" />
  </node>

  <!-- Spawns the forearm cameras -->
  <node name="forearm_camera_r" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="camera_url" type="str" value="name://forearm_r$(env IFACE)"/>
    <param name="frame_id" type="str" value="forearm_camera_r_optical_frame" />
    <remap from="camera" to="forearm_camera_r" />
    <remap from="camera_alternate" to="forearm_camera_r" />
  </node>
  
  <node name="forearm_camera_l" pkg="wge100_camera" type="wge100_camera_node_new2" output="screen">
    <param name="camera_url" type="str" value="name://forearm_l$(env IFACE)"/>
    <param name="frame_id" type="str" value="forearm_camera_r_optical_frame" />
    <remap from="camera" to="forearm_camera_l" />
    <remap from="camera_alternate" to="forearm_camera_l" />
  </node>
</launch>

